__pycache__/
*.pyc
.venv/
venv/
.env
.ipynb_checkpoints/
data/
!data/.gitkeep
*.npz
*.npy
*.pt
*.pth
runs/
.DS_Store
Thumbs.db
.vscode/
**/LRDDv3/
**/LRDD-V3-rest/
**/LRDDv3_embeds/
**/__pycache__/
**/checkpoints/
notebook/*
!notebook/notebook.ipynb
*/lightning_logs/*
*cpkt